doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css', media='screen, projection')
		link(rel='stylesheet', href='/css/flat-ui.css')
		link(rel='stylesheet', href='/css/custom.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascripts/client.js')
		script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
	body
		block content

